<div class="row">
  <div id="ews_container" style="width:100%; height:200px;"></div>
  <script type="text/javascript">
    $(function () { 
      $('#ews_container').highcharts({
        plotOptions: {
          line: {
            dataLabels: {
              enabled: true
            },
          },
            series: {
              animation: false
            }
          },

            chart: {
                height: 200,
                animation: false,
            },
            title: {
                text: 'Early Warning Score'
            },
            yAxis: {
              max: 10,
              min: 0
            },
            xAxis: {
              categories: <%=raw @observation_set.map {|b| b.created_at.strftime("%H%M") } %>,
              minPadding: 0,
              maxPadding: 0,
            },
            series: [
              {
                showInLegend: false,               
                data: <%=raw @observation_set.map {|b| [b.created_at.strftime("%H%M"), b.ews] } %>,
              }
            ]
        });
    });
  </script>
</div>
