<div class="row">
  <div id="resp_container" style="width:100%; height:200px;"></div>
  <script type="text/javascript">
    $(function () { 
        $('#resp_container').highcharts({
            plotOptions: {
          line: {
            dataLabels: {
              enabled: true
            },
          },
              series: {
                animation: false
              }
            },

            chart: {
                type: 'area',
                height: 200,
                animation: false
            },
            title: {
                text: 'Respiratory Rate(breaths/min)'
            },
            xAxis: {
              categories: <%=raw @observation_set.map {|b| b.created_at.strftime("%H%M") } %>,
            },
            series: [
              {
                showInLegend: false,               
                data: <%=raw @observation_set.map {|b| [b.created_at.strftime("%H%M"), b.respiratory_rate] } %>
              }
            ]
        });
    });
  </script>
</div>
