<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We have an emergency, <%= @user.name %></h1>
    <p>
      Patient <%=@alert[:patient_name] %>, has 
      	a <%= @alert[:patient_state] %>.<br>
    </p>
   
  </body>
</html>